html {
  /* smooth scroll behaviour */
  scroll-behavior: smooth;
}

body {
  color: #161616;
}
body a {
  color: #161616;
}
body .visually-hidden {
  display: none;
}
body .card-category {
  color: #d73954;
}
body .section-tagline {
  color: #d73954;
}
